iframe {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;
}

#clocktext {
    font-family: sans-serif;
    font-weight: bold;
    color: #FFFFFF;
}

body{
    display:table;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    background-color: black !important;
}

#clock{
    display:table-cell;
    width:100%;
    height:100%;
    text-align:center;
    vertical-align:middle;
}
#clocktext{
    font-size:24pt;
    font-kerning:none;
    color:#ccc;
}

.row{
    margin-left:0 !important;
    margin-right:0 !important;
}

input.ng-invalid.ng-touched, input.ng-invalid {
    background: #fff0f0;
    border-color: #A90329;
}

input.ng-valid.ng-touched {
    background: #f0fff0;
    border-color: #7DC27D;
}

.form-error{
    margin:inherit;
}