<!DOCTYPE html>
<html ng-app="app">
{% load staticfiles %}
	<head>
		<meta charset="utf-8">
        <title>Alarm Clock</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<!-- #CSS Links -->
		<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/base.css' %}">
        {% block css %}{% endblock %}
	</head>

	<body>
    {% block body %}{% endblock %}
    </body>
    <script src="{% static 'js/vendor/jquery.min.js' %}"></script>
    <script src="{% static 'js/vendor/underscore-min.js' %}"></script>
    <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/actions.js' %}"></script>
    <script>
        {% block websocket_settings %}{% endblock %}
    </script>
    {% block javascript_imports %}{% endblock %}
    <script>
        {% block javascript %}{% endblock %}
    </script>

</html>