{% extends 'base.html' %}

{% block body %}
    <div class="clock"></div>
    <div id="messages" style="height:100%; overflow:auto;background:black;color:white;"></div>
{% endblock %}


{% block javascript %}
        // http://flipclockjs.com/api
        var clock;
        $(document).ready(function() {
				clock = $('.clock').FlipClock({
					clockFace: 'TwelveHourClock',
					showSeconds: false
				});
			});
        var messageContainer = $("#messages");


        WebSocketTest = function() {
            if ("WebSocket" in window) {
                messageContainer.append("<span>WebSocket is supported by your Browser!</span>");
                var ws = new WebSocket("ws://"+window.location.hostname + ":" + {{ sse_port }} + "/ws/test");
                ws.onopen = function() {
                    ws.send("Message to send");
                };
                ws.onmessage = function (evt) {
                    var received_msg = evt.data;
                    messageContainer.append("<br><span>Received: " + received_msg+ "</span>");
                };
                ws.onclose = function() {
                    messageContainer.append("<br><span>Connection is closed...</span>");
                };
            } else {
                messageContainer.innerHTML = "WebSocket NOT supported by your Browser!";
            }
        }
        WebSocketTest();
{% endblock %}