{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}

<div id="clock">
    <span id="clocktext" style="font-size:24pt; font-kerning:none"></span>
</div>
<iframe id="alarm-video"
            width="640" height="360"
            src="https://www.youtube.com/embed/M7lc1UVf-VE?enablejsapi=1"
            frameborder="0"
            style="display:none;"
            allowfullscreen>
</iframe>

{% endblock %}

{% block javascript_imports %}
    <script src="{% static 'js/utils.js' %}"></script>
    <script src="{% static 'js/websocket.js' %}"></script>
    <script src="{% static 'js/clock.js' %}"></script>
    <script src="http://www.youtube.com/player_api"></script>
    <script src="{% static 'js/videoPlayer.js' %}"></script>
{% endblock %}

{% block websocket_settings %}
        var sse_port = {{ sse_port }};
        var sse_channel = "{{ sse_channel }}";
{% endblock %}
{% block javascript %}
{% endblock %}
