    {% verbatim %}
<div class="container" ng-cloak>
    <div class="row row-centered">

        <div class="jarviswidget jarviswidget-color-blueDark jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-attstyle="jarviswidget-color-blueDark" role="widget" style="">
				<!-- widget options:
					usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

					data-widget-colorbutton="false"
					data-widget-editbutton="false"
					data-widget-togglebutton="false"
					data-widget-deletebutton="false"
					data-widget-fullscreenbutton="false"
					data-widget-custombutton="false"
					data-widget-collapsed="true"
					data-widget-sortable="false"

				-->
				<header role="heading"><div class="jarviswidget-ctrls" role="menu"></div>
                    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                    <h2>Create Alarm </h2>
                    <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
                </header>

				<!-- widget div-->
				<div role="content">
					<!-- widget content -->
					<div class="widget-body no-padding">

						<form class="smart-form" ng-submit="submit()" name="alarmForm" novalidate="novalidate">
							<fieldset>
                                <div class="alert alert-info alert-block">
                                    <h4 class="alert-heading">Set time</h4>
                                </div>
                                    <div uib-timepicker ng-model="alarmTime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>
                                <br><br>
                                <table class="modify-table">
                                    <tr>
                                        <td class="days" ng-click="form.sunday = !form.sunday" ng-class="{repeat_alarm_day_enabled: form.sunday, repeat_alarm_day_disabled: !form.sunday}">S</td>
                                        <td class="days" ng-click="form.monday = !form.monday" ng-class="{repeat_alarm_day_enabled: form.monday, repeat_alarm_day_disabled: !form.monday}">M</td>
                                        <td class="days" ng-click="form.tuesday = !form.tuesday" ng-class="{repeat_alarm_day_enabled: form.tuesday, repeat_alarm_day_disabled: !form.tuesday}">T</td>
                                        <td class="days" ng-click="form.wednesday = !form.wednesday" ng-class="{repeat_alarm_day_enabled: form.wednesday, repeat_alarm_day_disabled: !form.wednesday}">W</td>
                                        <td class="days" ng-click="form.thursday = !form.thursday" ng-class="{repeat_alarm_day_enabled: form.thursday, repeat_alarm_day_disabled: !form.thursday}">T</td>
                                        <td class="days" ng-click="form.friday = !form.friday" ng-class="{repeat_alarm_day_enabled: form.friday, repeat_alarm_day_disabled: !form.friday}">F</td>
                                        <td class="days" ng-click="form.saturday = !form.saturday" ng-class="{repeat_alarm_day_enabled: form.saturday, repeat_alarm_day_disabled: !form.saturday}">S</td>
                                    </tr>
                                </table>
                            </fieldset>
                            <fieldset class="row">
                                <br>
                                <section class="col col-md-12 col-xs-12">
                                    <div class="form-group">
                                        <label class="input form-control"> <i class="icon-prepend fa fa-clock-o"></i>
                                            <input type="text" name="name" placeholder="Alarm name" ng-model="form.name" required ng-minlength="3">
                                            <div class="has-error note note-error" ng-show="alarmForm.$invalid">
                                               <span class="form-error" ng-show="alarmForm.name.$error.required">This is a required field</span>
                                               <span class="form-error" ng-show="alarmForm.name.$error.minlength">Minimum length required is 3</span>
                                           </div>
                                        </label>
                                    </div>
                                </section>
                                <section class="col col-md-12 col-xs-12">
                                    <div class="form-group" >
                                        <div>
                                            <div class="input-group">
                                                <label></label>
                                                <select name="videoDropdown" ng-model="form.video" required ng-options="option as option.name for option in videos" class="form-control">
                                                    <option value="" disabled selected>Select a Video to Play</option>
                                                </select>
                                                <span class="input-group-btn" data-toggle="modal" data-target="#newAlarmModal" type="button">
                                                    <a class="btn btn-primary" style="padding: 7px 10px 7px 10px;margin-left:3px; margin-top:18px;"> <i class="fa fa-gear"></i> </a>
                                                </span>
                                            </div>
                                            <div class="has-error note note-error" ng-show="alarmForm.$invalid">
                                                <span class="form-error" ng-show="alarmForm.videoDropdown.$invalid">This field is required </span>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <br>
                                <section class="col col-md-4 col-xs-6">
                                    <label class="toggle">
                                        <input type="checkbox" name="checkbox-toggle" checked="checked" ng-model="form.flashingLights">
                                        <i data-swchon-text="ON" data-swchoff-text="OFF"></i><label><strong>Flashing Lights</strong></label>
                                    </label>
                                </section>
                                <br>

                            </fieldset>

							<footer>
								<div class="form-actions-2">
                                    <button class="btn btn-primary btn-lg" ng-disabled="!alarmForm.$valid" type="submit">
                                        <i class="fa fa-save"></i>
                                        Submit
                                    </button>
                                    <a class="btn btn-danger btn-lg" ui-sref="home">
                                        <i class="fa fa-times"></i>
                                        Cancel
                                    </a>
                                </div>
							</footer>
						</form>

					</div>
					<!-- end widget content -->

				</div>
				<!-- end widget div -->

			</div>
    </div>
</div>
<div ng-include="'/partials/edit-videos.html'"></div>
{% endverbatim %}
