    {% verbatim %}
<div class="container" ng-cloak>
    <div class="row row-centered">

        <div class="jarviswidget jarviswidget-color-blueDark jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-attstyle="jarviswidget-color-blueDark" role="widget" style="">
				<!-- widget options:
					usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

					data-widget-colorbutton="false"
					data-widget-editbutton="false"
					data-widget-togglebutton="false"
					data-widget-deletebutton="false"
					data-widget-fullscreenbutton="false"
					data-widget-custombutton="false"
					data-widget-collapsed="true"
					data-widget-sortable="false"

				-->
				<header role="heading"><div class="jarviswidget-ctrls" role="menu"></div>
                    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                    <h2>Create Alarm </h2>
                    <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
                </header>

				<!-- widget div-->
				<div role="content">
					<!-- widget content -->
					<div class="widget-body no-padding">

						<form class="smart-form" ng-submit="submit()" name="alarmForm" novalidate="novalidate">
							<fieldset>
                                <div class="alert alert-info alert-block">
                                    <h4 class="alert-heading">Set time</h4>
                                </div>
                                    <div uib-timepicker ng-model="alarmTime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>
                                <br><br>
                                <table class="modify-table">
                                    <tr>
                                        <td class="days" ng-click="form.sunday = !form.sunday" ng-class="{repeat_alarm_day_enabled: form.sunday, repeat_alarm_day_disabled: !form.sunday}">S</td>
                                        <td class="days" ng-click="form.monday = !form.monday" ng-class="{repeat_alarm_day_enabled: form.monday, repeat_alarm_day_disabled: !form.monday}">M</td>
                                        <td class="days" ng-click="form.tuesday = !form.tuesday" ng-class="{repeat_alarm_day_enabled: form.tuesday, repeat_alarm_day_disabled: !form.tuesday}">T</td>
                                        <td class="days" ng-click="form.wednesday = !form.wednesday" ng-class="{repeat_alarm_day_enabled: form.wednesday, repeat_alarm_day_disabled: !form.wednesday}">W</td>
                                        <td class="days" ng-click="form.thursday = !form.thursday" ng-class="{repeat_alarm_day_enabled: form.thursday, repeat_alarm_day_disabled: !form.thursday}">T</td>
                                        <td class="days" ng-click="form.friday = !form.friday" ng-class="{repeat_alarm_day_enabled: form.friday, repeat_alarm_day_disabled: !form.friday}">F</td>
                                        <td class="days" ng-click="form.saturday = !form.saturday" ng-class="{repeat_alarm_day_enabled: form.saturday, repeat_alarm_day_disabled: !form.saturday}">S</td>
                                    </tr>
                                </table>
                            </fieldset>
                            <fieldset class="row">
                                <br>
                                <section class="col col-md-12 col-xs-12">
                                    <div class="form-group">
                                        <label class="input form-control"> <i class="icon-prepend fa fa-clock-o"></i>
                                            <input type="text" name="name" placeholder="Alarm name" ng-model="form.name" required ng-minlength="3">
                                            <div class="has-error note note-error" ng-show="alarmForm.$invalid">
                                               <span class="form-error" ng-show="alarmForm.name.$error.required">This is a required field</span>
                                               <span class="form-error" ng-show="alarmForm.name.$error.minlength">Minimum length required is 3</span>
                                           </div>
                                        </label>
                                    </div>
                                </section>
                                <section class="col col-md-12 col-xs-12">
                                    <div class="form-group" >
                                        <div>
                                            <div class="input-group">
                                                <label></label>
                                                <select name="videoDropdown" ng-model="form.video" required ng-options="option as option.name for option in videos" class="form-control">
                                                    <option value="" disabled selected>Select a Video to Play</option>
                                                </select>
                                                <span class="input-group-btn" data-toggle="modal" data-target="#newAlarmModal" type="button">
                                                    <a class="btn btn-primary" style="padding: 7px 10px 7px 10px;margin-left:3px; margin-top:18px;"> <i class="fa fa-gear"></i> </a>
                                                </span>
                                            </div>
                                            <div class="has-error note note-error" ng-show="alarmForm.$invalid">
                                                <span class="form-error" ng-show="alarmForm.videoDropdown.$invalid">This field is required </span>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <br>
                                <section class="col col-md-4 col-xs-6">
                                    <label class="toggle">
                                        <input type="checkbox" name="checkbox-toggle" checked="checked" ng-model="form.flashingLights">
                                        <i data-swchon-text="ON" data-swchoff-text="OFF"></i><label><strong>Flashing Lights</strong></label>
                                    </label>
                                </section>
                                <br>

                            </fieldset>

							<footer>
								<div class="form-actions-2">
                                    <button class="btn btn-primary btn-lg" ng-disabled="!alarmForm.$valid" type="submit">
                                        <i class="fa fa-save"></i>
                                        Submit
                                    </button>
                                    <a class="btn btn-danger btn-lg" ui-sref="home">
                                        <i class="fa fa-times"></i>
                                        Cancel
                                    </a>
                                </div>
							</footer>
						</form>

					</div>
					<!-- end widget content -->

				</div>
				<!-- end widget div -->

			</div>
    </div>
</div>
<div class="modal-scrollable">
    <div class="modal fade" id="newAlarmModal" tabindex="-1" role="dialog" aria-labelledby="newAlarmModalLabel" aria-hidden="true" ng-controller="EditVideoCtrl">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h2 class="modal-title" id="newAlarmModalLabel"><strong>Add/Edit Alarms</strong></h2>
                </div>
                <div class="modal-body">
                    <div class="jarviswidget jarviswidget-color-greenDark jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-attstyle="jarviswidget-color-blueDark" role="widget" style="">

                    <header role="heading"><div class="jarviswidget-ctrls" role="menu"></div>
                        <span class="widget-icon"> <i class="fa fa-plus"></i> </span>
                        <h2>Add a Video </h2>
                        <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
                    </header>

                    <!-- widget div-->
                    <div role="content">
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            <form class="smart-form" novalidate="novalidate">
                                <fieldset>
                                    <div class="row">
                                        <div class="col-md-12 form-group">
                                            <br>
                                            <section class="col col-md-12 col-xs-12">
                                                <label class="input form-control"> <i class="icon-prepend fa fa-paperclip"></i>
                                                        <input type="text" name="" placeholder="Video name" ng-model="form.name">
                                                    </label>
                                            </section>
                                            <br>
                                            <section class="col col-md-12 col-xs-12">
                                                <label class="input form-control"> <i class="icon-prepend fa fa-youtube"></i>
                                                        <input type="text" name="" placeholder="YouTube URL" ng-model="form.name">
                                                    </label>
                                            </section>
                                        </div>
                                    </div>
                                    <section class="col col-md-12 col-xs-12">
                                        <div class="form-group" style="float:right">
                                            <button type="submit" class="btn btn-success btn-sm">
                                                <span class="glyphicon glyphicon-floppy-disk"></span> Save
                                            </button>
                                            <button type="button" class="btn btn-default btn-sm">
                                                <span class="glyphicon glyphicon-eye-open"></span> Preview
                                            </button>
                                        </div>
                                    </section>
                                </fieldset>
                            </form>

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                    <div class="jarviswidget jarviswidget-color-orangeDark jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-attstyle="jarviswidget-color-blueDark" role="widget" style="">

                        <header role="heading"><div class="jarviswidget-ctrls" role="menu"></div>
                            <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                            <h2>Edit a Video </h2>
                            <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
                        </header>

                        <!-- widget div-->
                        <div role="content">
                            <!-- widget content -->
                            <div class="widget-body no-padding">

                                <form class="smart-form" novalidate="novalidate">
                                    <fieldset>
                                        <section class="col col-md-12 col-xs-12">
                                            <div class="form-group">
                                                <div>
                                                    <div class="input-group">
                                                        <select name="videoDropdown" ng-model="updateForm.video" ng-change="video=updateForm.video"required ng-options="option as option.name for option in videos" class="form-control">
                                                            <option value="" disabled selected>Select a Video to Edit</option>
                                                        </select>
                                                        <span class="input-group-btn" data-toggle="modal"  data-target="#verify-alarm-delete">
                                                            <button class="btn btn-danger" style="padding: 7px 10px 7px 10px;margin-left: 5px;"> <i class="fa fa-trash"></i> </button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                        <div class="row">
                                            <div class="col-md-12 form-group">
                                                <br>
                                                <section class="col col-md-12 col-xs-12">
                                                    <label class="input form-control"> <i class="icon-prepend fa fa-paperclip"></i>
                                                            <input type="text" name="" placeholder="Video name" ng-model="video.name">
                                                        </label>
                                                </section>
                                                <br>
                                                <section class="col col-md-12 col-xs-12">
                                                    <label class="input form-control"> <i class="icon-prepend fa fa-youtube"></i>
                                                            <input type="text" name="" placeholder="YouTube URL" ng-model="video.url">
                                                        </label>
                                                </section>
                                            </div>
                                        </div>


                                        <section class="col col-md-12 col-xs-12">
                                        <div class="form-group" style="float:right">
                                            <button type="submit" class="btn btn-success btn-sm">
                                                <span class="glyphicon glyphicon-floppy-disk"></span> Save
                                            </button>
                                            <button type="button" class="btn btn-default btn-sm">
                                                <span class="glyphicon glyphicon-eye-open"></span> Preview
                                            </button>
                                        </div>
                                    </section>
                                    </fieldset>
                                </form>

                            </div>
                            <!-- end widget content -->

                        </div>
                        <!-- end widget div -->

                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->

    </div><!-- /.modal -->
    <div class="modal divMessageBox animated fadeIn fast" id="verify-alarm-delete">
        <div class="MessageBoxContainer animated fadeIn fast" id="Msg1">
            <div class="MessageBoxMiddle">
                <span class="MsgTitle">Deleting Video!</span>
                <p class="pText">Are you sure you want to delete this video?</p>
                <div class="MessageBoxButtonSection">
                    <button id="bot1-Msg1" class="btn btn-default btn-sm botTempo"> No</button>
                    <button id="bot2-Msg1" class="btn btn-default btn-sm botTempo"> Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endverbatim %}